<% content_for :title, "トップページ - Finding Art" %>
<div class="top-main">
  <div class='container top-wrapper text-md-center'>
    <div class="container pt-3">
      <div class="row">
	    <div class="text-center">
		  <%= image_tag 'Finding Art2.png', class: 'responsive-img', alt: 'Finding Art Image' %>
		  <p>世界に広がる芸術を発信しましょう！</p>
		</div>
	      <div class="col-lg-10 offset-lg-1">
	        <!-- 検索フォーム -->
		    <%= render 'boards/search_form', q: @q, url: boards_path %>
	      </div>
	    <!-- 投稿一覧 -->
	    <%= render partial: 'boards/boards', locals: { boards: @boards } %>
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>