<footer id="footer" class="footer-bottom">
  <nav class='navigation navbar-light bg-light'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-md-end">
          <ul class="nav">
            <li class="nav-item">
              <%= link_to 'お問い合わせ', new_contact_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '利用規約', terms_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link text-dark' %>
            </li>
          </ul>
        </div>
        <div class="col-md-12 text-md-center mt-3">
          <div class="copyright">
            <p>© 2024. Yuuri Tsubomatsu</p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>
