<%= search_form_for @q, url: boards_path do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :title_or_body_cont, class: "form-control", placeholder: "検索ワード" %>
    <button type="submit" class="btn btn-primary">検索</button>
  </div>
<% end %>