<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= t('.title') %></h1>
      <% if @boards.present? %>
        <%= render partial: 'boards/boards', collection: @boards, as: :board %>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
</div>
