<% content_for :title, "投稿作成 - Finding Art" %>
<div class="container pt-5 form-main">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <br>
      <%= render 'form', { board: @board } %>
    </div>
  </div>
</div>