@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Kaisei+Decol&family=Kosugi&family=Yusei+Magic&display=swap');
@import 'top';
@import 'profile';
@import 'show';
@import 'form';
@import 'edit';

header .navbar-brand img {
  width: 150px !important;
  height: 60px !important;
}

body, html {
  font-family: "BIZ UDPMincho", serif;
  font-weight: 400;
  font-style: normal;
}

.term-wrapper {
  background-color: #fffaf0;
  padding: 10px;
  margin: 10px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}