.top-main {
  text-align: center;
  position: relative;
  width: 100%;
  background-image: url("ed-robertson-eeSdJfLfx1A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.top-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* 半透明の白色 */
  z-index: -1; /* 背景画像より後ろに配置 */
}

.responsive-img2 {
  max-width: 80%;
  height: auto;
}

h4.title-underline2 {
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

h4.title-underline2::after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
  height: 4px;
  background-color: darkolivegreen;
}
